* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    background-color: #8caec1;
    height: 37px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: larger;
}

.icono {
    /* font-style: inherit; */
    font-family: fantasy;
    font-size: x-large;
}


footer{
	background-color: #8caec1;
}

.productos {
    background-color: #8caec1;
}

.banner {
    display: flex;
    flex-direction: column-reverse;
}

.foto_banner {
    display: flex;
    justify-content: center;
}

.descrip {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.texto {
    width: 420px;
}

.descrip_title {
    font-style: normal;
    font-size: x-large;
    font-family: math;
}


.descrip_text {
    padding: 15px;
    font-size: x-large;
    padding: 10px;
    margin: 10px;
    font-style: italic;
    font-family: math;
}

.fotoD{
    display: contents;
}

.fotoD img {
    position: relative;
    left: -10px;
}

.productos {
    background-color: #8caec1;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

}

.foto {
    width: 758px;
}


.explicacion {
    justify-items: center;
    padding: 3px;
    transform: translate(-3px, -6px);
}


.messi {
    background-color: dodgerblue;
    margin: -8px;
    padding: 13px;
    border-radius: 6px;
    width: 305px;
}
.premios {
    background-color: cornflowerblue;
    margin: -8px;
    padding: 13px;
    border-radius: 6px;
    width: 305px;
}
.obelisco {
    background-color: lightskyblue;
    margin: -8px;
    padding: 13px;
    border-radius: 6px;
    width: 305px;
}
.scaloneta {
    background-color: #62bcdb;
    margin: -8px;
    padding: 13px;
    border-radius: 6px;
    width: 305px;
}

.title {
    font-size: xx-large;
    font-family: fantasy;
    padding: 5px;
}

.des {
    font-size:larger;
    font-style: italic;
    font-family: system-ui;
}

.nosotras {
    padding: 40px;
    text-align: center;
    font-size: xxx-large;
    font-family: fantasy;
}

.staff {
    display: flex;
    justify-content: center;
}

.perfiles {
    display: flex;
    padding: 20px;
    margin: 10px;
}

.chicas {
    margin: 8px;
    padding: 50px;
    width: 235px;
}

.fotos {
    width: 514%;
}

.names {
    text-align: center;
    font-size: x-large;
    font-family: system-ui;
}

footer {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}